services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.prod
    image: ubc_voc_website
    command: 
      sh -c "python manage.py collectstatic --noinput &&
             gunicorn --bind 0.0.0.0:8000 ubc_voc_website.wsgi:application"
    volumes:
      - static_volume:/home/ubc_voc_website/staticfiles
      - media_volume:/home/ubc_voc_website/media
      - logs_volume:/home/ubc_voc_website/logs
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=ubc_voc_website.settings.production
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    ports:
      - 8082:80
    volumes:
      - static_volume:/home/ubc_voc_website/staticfiles
      - media_volume:/home/ubc_voc_website/media
      - logs_volume:/home/ubc_voc_website/logs
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

  db:
    image: postgres:18
    restart: always
    expose:
      - 5432
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  static_volume:
  media_volume:
  logs_volume:
  postgres_data:

