django==5.2.8
django-allauth==65.13.1
django-colorfield==0.12.0
django-photologue==3.17
django-quill-editor==0.1.42
gunicorn==23.0.0
openpyxl==3.1.5
Pillow==10.4.0
psycopg[binary]
PyJWT==2.10.1
python-dateutil==2.9.0
pytz
WeasyPrint==63.0
