django==5.2.8
python-dateutil==2.9.0
Pillow==10.4.0
WeasyPrint==63.0
django-colorfield==0.12.0
django-quill-editor==0.1.42
django-photologue==3.17
wagtail==6.4.2
gunicorn==23.0.0
pytz
psycopg[binary]
