{% extends "base.html" %}

{% block title %}Member List{% endblock %}

{% block content %}

<div class="container">
    <h2>Execs</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Exec Position</th>
            </tr>
        </thead>
        <tbody>
            {% for exec in execs %}
                <tr>
                    <td>{{ exec.first_name }} {{ exec.last_name }}</td>
                    <td>{{ exec.role }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
<div class="container">
    <h2>Add/Modify An Exec</h2>
    <form method="POST">
        {% csrf_token %}
        {{ exec_form.as_p }}

        <button type="submit">Submit</button>
    </form>
</div>

<hr>

<div class="container">
    <h2>PSG</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for member in psg %}
                <tr>
                    <td>{{ member.first_name }} {{ member.last_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
<div class="container">
    <h2>Add a PSG Member</h2>
    <form method="POST">
        {% csrf_token %}
        {{ psg_form.as_p }}

        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}