{% extends "base.html" %}

{% load photo_utils %}

{% block title %}Profile ({{ profile.first_name }} {{ profile.last_name }}){% endblock %}

{% block content %}
<div class="container">
    <h3>{{ profile.first_name }} {{ profile.last_name }} {% if profile.pronouns %}({{profile.pronouns}}){% endif %}</h3>
    <p><b>Email:</b> <a href="mailto:{{user.email}}">{{ user.email }}</a></p>
    <p><b>Phone:</b> {{ profile.phone }}</p>

    <hr>

    <h4 class="mb-3">Trip History</h4>
    <h5 class="mb-3">Organized Trips</h5>
    {% if trips.organized %}
        <table class="table mb-3">
            <thead>
                <th>Date</th>
                <th>Trip</th>
                <th>Details</th>
                <th>Tags</th>
            </thead>
            <tbody>
                {% for month, trips in trips.organized.items %}
                    <tr>
                        <td colspan="4"><strong>{{ month }}</strong></td>
                    </tr>
                    {% for trip in trips %}
                        <tr>
                            <td>{{ trip.trip_date_as_str_short }}</td>
                            <td>{{ trip.name }}</td>
                            <td><a href="{% url 'trip_details' trip.id %}">Details</a></td>
                            <td>
                                {% for tag in trip.tags.all %}
                                    <!-- VS Code may detect errors here... ignore them THIS SYNTAX WORKS!!! -->
                                    <span class="badge badge-pill" style="background-color: {{ tag.colour }}; color: white;">
                                        {{ tag.name }}
                                    </span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>This member has not organized any trips yet.</p>
    {% endif %}
    <h5 class="mb-3">Attended Trips</h5>
    {% if trips.attended %}
        <table class="table mb-3">
            <thead>
                <th>Date</th>
                <th>Trip</th>
                <th>Details</th>
                <th>Tags</th>
            </thead>
            <tbody>
                {% for month, trips in trips.attended.items %}
                    <tr>
                        <td colspan="4"><strong>{{ month }}</strong></td>
                    </tr>
                    {% for trip in trips %}
                        <tr>
                            <td>{{ trip.trip_date_as_str_short }}</td>
                            <td>{{ trip.name }}</td>
                            <td><a href="{% url 'trip_details' trip.id %}">Details</a></td>
                            <td>
                                {% for tag in trip.tags.all %}
                                    <!-- VS Code may detect errors here... ignore them THIS SYNTAX WORKS!!! -->
                                    <span class="badge badge-pill" style="background-color: {{ tag.colour }}; color: white;">
                                        {{ tag.name }}
                                    </span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>This member has not gone on any trips yet.</p>
    {% endif %}

    <hr>

    <h4>Photo Gallery</h4>
    {% if request.user == user %}
    <p>
        <a href="{% url 'manage_user_gallery' %}">Click here</a> to manage your gallery
    </p>
    {% endif %}
    {% if gallery and gallery.photos.all %}
        <div id="carousel" class="carousel slide mb-5" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for photo in gallery.photos.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="d-flex justify-content-center">
                            <div class="card mb-3" style="max-width: 800px;">
                                <img src="{{ photo.get_large_url }}" class="card-img-top" alt="{{ photo.title }}">
                                <div class="card-body text-center">
                                    {% if photo.title %}
                                        <h5 class="card-title">{{ photo.title|clean_title }}</h5>
                                    {% endif %}
                                    {% if photo.caption %}
                                        <p class="card-text"><small class="text-muted">{{ photo.caption }}</small></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev bg-dark" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next bg-dark" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    {% endif %}
</div>
{% endblock %}