{% extends "base.html" %}

{% load static %}

{% load form_tags %}

{% block title %}Organize a Trip{% endblock %}

{% block head_content %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    {% include 'django_quill/media.html' %}
        
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Setup organizer checkbox
            const organizer_checkbox = document.getElementById('toggle-organizers');
            const organizer_div = document.getElementById('organizer_div');

            organizer_div.style.display = organizer_checkbox.checked ? 'block' : 'none';

            organizer_checkbox.addEventListener('change', function () {
                organizer_div.style.display = this.checked ? 'block' : 'none';
            });

            // Setup organizer searchable dropdown
            const organizer_selector = document.getElementById('id_organizers');
            new Choices(organizer_selector, {
                removeItemButton: true,
                placeholder: true,
                placeholderValue: 'Select members...',
                searchPlaceholderValue: 'Search members...',
            });

            // Setup tags searchable dropdown
            const tag_selector = document.getElementById('id_tags');
            new Choices(tag_selector, {
                removeItemButton: true,
                placeholder: true,
                placeholderValue: 'Select tags...',
                searchPlaceholderValue: 'Search tags...',
            });

            // Setup signup tools checkbox
            const signup_tool_checkbox = document.querySelector('#id_use_signup');
            const signup_tool_div = document.getElementById('signup-tool-div');
            signup_tool_div.style.display = signup_tool_checkbox.checked ? 'block' : 'none';
            signup_tool_checkbox.addEventListener('change', function () {
                signup_tool_div.style.display = this.checked ? 'block' : 'none';
            });

            // Setup pretrip checkbox
            const pretrip_checkbox = document.querySelector('#id_use_pretrip');
            const pretrip_div = document.getElementById('pretrip-div');
            pretrip_div.style.display = pretrip_checkbox.checked ? 'block' : 'none';
            pretrip_checkbox.addEventListener('change', function () {
                pretrip_div.style.display = this.checked ? 'block' : 'none';
            });

            // Setup pretrip location fields
            const pretrip_use_clubroom = document.getElementById("pretrip_use_clubroom");
            const pretrip_location_input = document.getElementById("id_pretrip_location");
            const pretrip_location_input_label = document.getElementById("pretrip_location_input_label")
            if (pretrip_location_input.value == 'VOC Clubroom') {
                pretrip_use_clubroom.checked = true;
            }
            pretrip_location_input.style.display = pretrip_use_clubroom.checked ? 'none' : 'block';
            pretrip_use_clubroom.addEventListener('change', function () {
                pretrip_location_input_label.style.display = this.checked ? 'none' : 'block';
                pretrip_location_input.style.display = this.checked ? 'none' : 'block';
                if (this.checked) {
                    pretrip_location_input.value = "VOC Clubroom";
                }
                else {
                    pretrip_location_input.value = "";
                }
            })

            // Setup datetime pickers
            flatpickr('.flatpickr', {
                enableTime: true,
                dateFormat: "Y-m-d H:i",
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Organize a Trip</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {% render_form_field form.name %}

            <div class="mb-4">
                <label>
                    Include additional organizers: <input type="checkbox" id="toggle-organizers">
                </label>
            </div>
            <div id="organizer_div" class="mb-4">
                {% render_form_field form.organizers %}
            </div>

            <div class="mb-4" style="display: flex; padding: 10px; width: 50%">
                <div class="mx-2">{% render_form_field form.start_time %}</div>
                <div class="mx-2">{% render_form_field form.end_time %}</div>
            </div>

            {% render_form_field form.in_clubroom %}

            {% render_form_field form.published %}

            {% render_form_field form.status %}

            {% render_form_field form.tags %}

            {% render_form_field form.description %}

            {% render_form_field form.use_signup %}

            <div class="mb-4" id="signup-tool-div">
                {% render_form_field form.signup_question %}

                {% render_form_field form.max_participants %}
    
                <div class="mb-4" style="display: flex;">
                    <div class="mx-2">{% render_form_field form.interested_start %}</div>
                    <div class="mx-2">{% render_form_field form.interested_end %}</div>
                </div>
    
                <div class="mb-4" style="display: flex;">
                    <div class="mx-2">{% render_form_field form.committed_start %}</div>
                    <div class="mx-2">{% render_form_field form.committed_end %}</div>
                </div>
            </div>

            {% render_form_field form.use_pretrip %}

            <div id="pretrip-div">
                {% render_form_field form.pretrip_time %}
                <div class="mb-4">
                    {{ form.pretrip_location.label_tag }}<br />
                    <label>
                        VOC Clubroom <input type="checkbox" id="pretrip_use_clubroom">
                    </label><br />
                    <label id="pretrip_location_input_label">
                        Other: <input type="text" name="pretrip_location" id="id_pretrip_location" value="{{ form.pretrip_location.value }}">
                    </label>
                </div>
            </div>

            {% render_form_field form.drivers_required %}

            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
