{% extends "base.html" %}

{% load static %}
{% load role_tags %}

{% block title %}{{ trip.name }}{% endblock %}

{% block head_content %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Setup car checkbox
            const carCheckbox = document.querySelector('#id_can_drive');
            const carSpotsDiv = document.getElementById('car-spots-div');
            carSpotsDiv.style.display = carCheckbox.checked ? 'block' : 'none';
            carCheckbox.addEventListener('change', function () {
                carSpotsDiv.style.display = this.checked ? 'block' : 'none';
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>{{ trip.name }}</h2>
        <h5>{{ trip.trip_date_as_str_long }}</h5>

        {% if request.user|is_member and trip.use_signup %}
            <a href="#signup-form">Jump to signup form</a>
        {% endif %}

        <p>
            <b>Organized by:</b> 
            {% for organizer in organizers %}
                <a href="{% url 'profile' organizer.user__id %}">{{ organizer.first_name }} {{ organizer.last_name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>

        <p>
            {{ description|safe }}
        </p>


        <!------------------------------- Signups list ------------------------------->
        {% if request.user|is_member and signups.interested or signups.committed or signups.going %}
            <hr>
            <h5>Signup Lists</h5>
            <div id="signup-list">
                {% if signups.going %}
                    <p><b>Going:</b></p>
                    <table class="table table-striped table-hover">
                        <tbody>
                            {% for signup in signups.going %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td><a href="{% url 'profile' signup.id %}">{{ signup.name }}</a></td>
                                    {% if signup.signup_answer %}
                                        <td class="text-wrap text-break w-50">Says: {{ signup.signup_answer }}</td>
                                    {% endif %}
                                    {% if signup.car_spots > 0 %}
                                        <td><b>Can drive: </b><span class="badge bg-info">{{ signup.car_spots }}</span></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b>{{ car_spots.interested }}</b> car spots on this list</td>
                            </tr>
                        </tfoot>
                    </table>
                {% endif %}
                {% if signups.committed %}
                    <p><b>Committed:</b></p>
                    <table class="table table-striped table-hover">
                        <tbody>
                            {% for signup in signups.committed %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td><a href="{% url 'profile' signup.id %}">{{ signup.name }}</a></td>
                                    <td class="text-wrap text-break w-50">
                                        {% if signup.signup_answer %}
                                            Says: {{ signup.signup_answer }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if signup.car_spots > 0 %}
                                            <b>Can drive:</b><span class="badge bg-info">{{ signup.car_spots }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if request.user in trip.organizers.all %}
                                            <a href="{% url 'mark_as_going' trip.id signup.id %}">Add to going list</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b>{{ car_spots.interested }}</b> car spots on this list</td>
                            </tr>
                        </tfoot>
                    </table>
                {% endif %}
                {% if signups.interested %}
                    <p><b>Interested:</b></p>
                    <table class="table table-striped table-hover">
                        <tbody>
                            {% for signup in signups.interested %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>
                                        <a href="{% url 'profile' signup.id %}">{{ signup.name }}</a>
                                    </td>
                                    <td class="text-wrap text-break w-50">
                                        {% if signup.signup_answer %}
                                            <b>Says:</b> <i>{{ signup.signup_answer }}</i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if signup.car_spots > 0 %}
                                            <b>Can drive:</b><span class="badge bg-info">{{ signup.car_spots }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if request.user in trip.organizers.all %}
                                            <a href="{% url 'mark_as_going' trip.id signup.id %}">Add to going list</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b>{{ car_spots.interested }}</b> car spots on this list</td>
                            </tr>
                        </tfoot>
                    </table>
                {% endif %}
            </div>
        {% endif %}

        <hr>

        <!------------------------------- Signup form ------------------------------->
        {% if user_can_signup and trip.valid_signup_types %}
            <h5>Sign Up</h5>
            <form id="signup-form" method="post">
                {% csrf_token %}
                <div class="mb-4">
                    {{ form.type.label_tag }} {{ form.type }}
                    {% if form.type.errors %}
                        <small>{{ form.type.errors|striptags }}</small>
                    {% endif %}
                </div>

                <div class="mb-4">
                    {{ form.can_drive.label_tag }} {{ form.can_drive }}
                    {% if form.can_drive.errors %}
                        <small>{{ form.can_drive.errors|striptags }}</small>
                    {% endif %}
                </div>

                <div class="mb-4" id="car-spots-div">
                    {{ form.car_spots.label_tag }} {{ form.car_spots }}
                    {% if form.car_spots.errors %}
                        <small>{{ form.car_spots.errors }}</small>
                    {% endif %}
                </div>

                <div class="mb-4">
                    {{ form.signup_answer.label_tag }} <br />
                    {{ form.signup_answer }}
                    {% if form.signup_answer.errors %}
                        <small>{{ form.signup_answer.errors }}</small>
                    {% endif %}
                </div>

                <button type="submit">Submit</button>
            </form>
        {% endif %}

        <hr>

        <!------------------------------- Gallery ------------------------------->
        {% if request.user|is_member %}
            <h5>Photo Gallery</h5>
            {% if gallery %}
                <p>photos here</p>
            {% else %}
                <p>This trip does not have an associated photo gallery</p>
            {% endif %}
            {% if is_going %}
                <p><a href="{% url 'manage_trip_gallery' trip.id %}">Click here</a> to contribute to the gallery for this trip</p>
            {% endif %}
        {% endif %}
    </div>
    
{% endblock %}
