{% extends "base.html" %}

{% block title %}Confirm Your Email Address{% endblock %}

{% block content %}
    <h2>Email confirmation</h2>

    {% if confirmation %}
        <p>Please confirm that {{ confirmation.email_address.email }} is your email address.</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
                Confirm
            </button>
        </form>
    {% else %}
        <p>This confirmation link is invalid or has expired.</p>
    {% endif %}
{% endblock %}