{% load rental_tags %}

<link href="https://cdn.jsdelivr.net/npm/vanilla-datatables@latest/dist/vanilla-dataTables.min.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/vanilla-datatables@latest/dist/vanilla-dataTables.min.js" type="text/javascript"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const table = document.getElementById("{{ table_id }}");
        new DataTable(table, {
            paging: true,
            perPage: 25,
            ordering: true,
            searching: true,
            labels: {
                        "perPage": "{select} rentals per page",
                        "noRows": "No rentals found",
                        "info": "Showing {start} to {end} of {rows} rentals"
                    }
        });
    });
</script>

<table id="{{ table_id }}" class="table">
    <thead>
        <tr>
            <th>Member</th>
            <th>Date Out</th>
            <th>Date Due</th>
            <th>Date Returned</th>
            <th>Category</th>
            <th>What</th>
            <th>Notes</th>
            <th>QM Name</th>
            <th>Edit</th>
            <th>Renew</th>
            <th>Return</th>
            <th>Mark as Lost</th>
        </tr>
    </thead>
    <tbody>
        {% for rental in rentals %}
            <tr class="{{ rental.status|table_row_class }}">
                <td class="align-middle"><a href="{% url 'profile' rental.member.id %}">{{ rental.member.profile.full_name }}</a></td>
                <td class="align-middle">{{ rental.start_date }}</td>
                <td class="align-middle">{{ rental.due_date }}</td>
                <td class="align-middle">{% if rental.return_date %}{{ rental.return_date }}{% endif %}</td>
                <td class="align-middle">{% if rental.type == 1 %}Gear{% else %}Library{% endif %}</td>
                <td class="align-middle">{{ rental.what }}</td> <!-- TODO swap this out with the gear/books field once implemented-->
                <td class="align-middle">{% if rental.notes %}{{ rental.notes }}{% endif%}</td>
                <td class="align-middle"><a href="{% url 'profile' rental.member.id %}">{{ rental.qm.profile.full_name }}</a></td>
                <td class="align-middle">
                    <a href="{% url 'edit_rental' rental.id %}">
                        <button class="btn btn-primary"><i class="bi bi-pencil-fill"></i></button>
                    </a>
                </td>
                <td class="align-middle">
                    <form action="{% url 'renew_rental' rental.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-clockwise"></i></button>
                    </form>
                </td>
                <td class="align-middle">
                    <form action="{% url 'return_rental' rental.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary"><i class="bi bi-check"></i></button>
                    </form>
                </td>
                <td class="align-middle">
                    <form action="{% url 'lost_rental' rental.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary"><i class="bi bi-x"></i></button>
                    </form>
                </td>  
            </tr>
        {% endfor %}
    </tbody>
</table>