{% extends "base.html" %}

{% load role_tags %}

{% block title %}Gear Hours{% endblock %}

{% block head_content %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const calendarDiv = document.getElementById('calendar');
            const events = JSON.parse('{{ gear_hours|escapejs }}');

            const calendar = new FullCalendar.Calendar(calendarDiv, {
                initialView: 'dayGridMonth',
                firstDay: 1
            });
            calendar.render();

            // Setup date/time pickers
            flatpickr('.flatpickr', {
                dateFormat: "Y-m-d"
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Gear Hours</h2>

        <div id="calendar"></div>

        {% if request.user|is_exec %}
            <hr>
            <h2>Add a Gear Hour</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            </form>
        {% endif %}

    </div>
{% endblock %}
