{% extends "base.html" %}

{% load role_tags %}

{% block title %}Gear Hours{% endblock %}

{% block head_content %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const calendarDiv = document.getElementById('calendar');
            const events = JSON.parse('{{ gear_hours|escapejs }}');

            const calendar = new FullCalendar.Calendar(calendarDiv, {
                initialView: 'dayGridMonth',
                events: events,
                eventClick: function(info) {
                    document.getElementById('modal-title').textContent = info.event.title;
                    document.getElementById('modal-body').innerHTML = `${info.event.start.toLocaleTimeString([], { hour: 'numeric', minute: '2-digit' })} - ${info.event.end.toLocaleTimeString([], { hour: 'numeric', minute: '2-digit' })}`;

                    const modal = new bootstrap.Modal(document.getElementById('modal'));
                    modal.show();
                },
                firstDay: 1,
                timeZone: 'local'
            });
            calendar.render();

            // Setup date/time pickers
            flatpickr('.flatpickr-date', {
                dateFormat: "Y-m-d"
            });
            flatpickr('.flatpickr-timeonly', {
                noCalendar: true,
                enableTime: true,
                dateFormat: 'h:i K'
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Gear Hours</h2>

        <div id="calendar"></div>

        {% if request.user|is_exec %}
            <hr>
            <h2>Add a Gear Hour</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
            <hr>
        {% endif %}

    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Modal title</h5>
                </div>
                <div class="modal-body" id="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
