{% extends "base.html" %}

{% load static %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <div class="container">
        <h2>Contact Us</h2>

        <br>

        <h4>Email</h4>
        <p>
            Replace ' at ubc-voc.com' with '@ubc-voc.com'. We display it this way to prevent spam bots from finding our information:
        </p>
        <ul>
            <li><b>General:</b> For general questions and comments, contact us at 'information at ubc-voc.com'</li>
            <li><b>Gear Rental:</b> If you have a question about renting or returning gear, contact 'gear at ubc-voc.com'</li>
            <li><b>Website:</b> For questions/comments/concerns about the website, or other techincal issues, contact 'webmaster at ubc-voc.com'</li>
            <li><b>Newsletter:</b> To submit something to the VOCene (our monthly newsletter), email 'vocene at ubc-voc.com'</li>
            <li><b>Membership:</b> If you have a question about membership or are requesting honorary membership, email 'membership at ubc-voc.com'</li>
        </ul>

        <p>Additionally, feel free to contact any exec member using their <a href="{% url 'members' %}">email address</a>.</p>

        <br>

        <h4>Social Media</h4>
        <ul>
            <li><b>Facebook:</b> <a href="https://www.facebook.com/groups/2255452063">Varsity Outdoor Club</a> facebook group</li>
            <li>
                <b>Instagram:</b> <a href="https://www.instagram.com/ubcvoc/">@ubcvoc</a>. 
                Due to high volume, we may not respond to all DMs. If you need to contact us, please reach out via email.
            </li>
        </ul>

        <br>

        <h4>Discord</h4>
        <p>
            We have a club-wide Discord server for chit-chat, general socializing, finding adventure buddies, gear talks, club business, and more!
            Join <a href="https://discord.gg/VGXKEUGGRu">here</a>.
        </p>

        <br>

        <h4>Snail Mail</h4>
        <p>
            Varsity Outdoor Club <br>
            Office LL201 AMS Student Nest. 6133 University Blvd <br>
            Vancouver, BC <br>
            V6T 1Z1
        </p>

        <br>

        <h4>Clubroom Hours</h4>
        <p>The VOC clubroom is located in the basement of the AMS Nest in room LL201, right beside the Grand Noodle Emporium:</p>
        <img src="{% static 'ubc_voc_website/clubroom_map.png' %}" alt="VOC Clubroom Map" class="my-5">
        <p>
            Check the <a href="{% url 'clubroom_calendar' %}">Clubroom Calendar</a> for Gear Rental hours and other events happening in the clubroom.
            Additionally, the clubroom is often open around lunchtime on weekdays. Come hang out! Note that we cannot offer gear rentals and returns
            outside of designated gear hours, although we may be able to take membership payments.
        </p>
    </div>
{% endblock %}