{% extends "base.html" %}

{% block title %}Gearmaster{% endblock %}

{% block head_content %}
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" rel="stylesheet" />
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('input[name="rentalType"]').forEach(input => {
                input.addEventListener('change', function() {
                    const selectedRentalType = this.value;
                    window.location.href = `/gear/rentals/create/${selectedRentalType}`;
                })
            });

            // Initialize searchable member dropdown
            const memberSelect = document.getElementById("member-select");
            if (memberSelect) {
                new Choices(memberSelect, {
                    searchEnabled: true
                });
            }
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between">
            <h2>Create Rental</h2>
            <div>
                <label class="form-label">Rental Type:</label>
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="gear">Gear</label>
                    <input class="form-check-input" type="radio" name="rentalType" id="gear" value="gear" {% if type == 'gear' %}checked{%endif%}>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="book">Book</label>
                    <input class="form-check-input" type="radio" name="rentalType" id="book" value="book" {% if type == 'book' %}checked{%endif%}>
                </div>
            </div>
        </div>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}