{% extends "base.html" %}

{% load role_tags %}

{% block title %}Gear Hours{% endblock %}

{% block head_content %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteButton = document.getElementById('delete-button');
            const confirmDeleteMessage = document.getElementById('confirm-delete');
            const confirmDeleteButton = document.getElementById('confirm-delete-button');
            const deleteAllCheckbox = document.getElementById('delete-all-checkbox');
        
            const calendarDiv = document.getElementById('calendar');
            const events = JSON.parse('{{ gear_hours|escapejs }}');

            const calendar = new FullCalendar.Calendar(calendarDiv, {
                initialView: 'dayGridMonth',
                events: events,
                eventClick: function(info) {
                    document.getElementById('modal-title').textContent = info.event.title;
                    document.getElementById('modal-body').innerHTML = `${info.event.start.toLocaleTimeString([], { hour: 'numeric', minute: '2-digit' })} - ${info.event.end.toLocaleTimeString([], { hour: 'numeric', minute: '2-digit' })}`;

                    deleteButton.setAttribute('gear-hour-id', info.event._def.publicId.split(':')[0]);
                    deleteButton.setAttribute('date', info.event.start.toISOString().split('T')[0]);
                    deleteAllCheckbox.checked = false;

                    const modal = new bootstrap.Modal(document.getElementById('modal'));
                    modal.show();
                },
                firstDay: 1,
                timeZone: 'local'
            });
            calendar.render();

            // Setup date/time pickers
            flatpickr('.flatpickr-date', {
                dateFormat: "Y-m-d"
            });
            flatpickr('.flatpickr-timeonly', {
                noCalendar: true,
                enableTime: true,
                dateFormat: 'h:i K'
            });

            // Handle gear hour deletion
                deleteButton.addEventListener('click', function() {
                confirmDeleteMessage.style.display = 'block';
            });

            confirmDeleteButton.addEventListener('click', function() {
                const gearHourId = deleteButton.getAttribute('gear-hour-id');
                const date = deleteButton.getAttribute('date');
                const deleteAll = deleteAllCheckbox.checked;

                fetch(`delete/${gearHourId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                    },
                    body: JSON.stringify({
                        delete_all: deleteAll,
                        date: date
                    })
                })
                .then(response => {
                    if (response.ok) {
                        location.reload();
                    }
                    else {
                        alert('Failed to delete gear hour');
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Gear Hours</h2>

        <div id="calendar"></div>

        {% if request.user|is_exec %}
            <hr>
            <h2>Add a Gear Hour</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
            <hr>
        {% endif %}

    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Modal title</h5>
                </div>
                <div class="modal-body">
                    <div id="modal-body"></div>
                    <div id="confirm-delete" style="display: none;">
                        <hr>
                        <p>Are you sure you want to delete this gear hour?</p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="delete-all-checkbox">
                            <label class="form-check-label" for="delete-all-checkbox">
                                Delete all instances of my gear hour on this day/time
                            </label>
                        </div>
                        <button id="confirm-delete-button" class="btn btn-danger mt-2">Confirm</button>
                    </div>
                </div>
                <div class="modal-footer">
                    {% if request.user|is_exec %}
                        <button id="delete-button" type="button" class="btn btn-danger">Delete</button>
                    {% endif %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
