{% extends "base.html" %}

{% load static %}

{% block title %}My Trips{% endblock %}

{% block head_content %}
    <link href="https://cdn.jsdelivr.net/npm/vanilla-datatables@latest/dist/vanilla-dataTables.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/vanilla-datatables@latest/dist/vanilla-dataTables.min.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Upcoming Trips</h2>
        <table id="upcoming-table" class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Trip</th>
                    <th>Details</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for month, trips in upcoming_trips.items %}
                    <tr>
                        <td colspan="4"><strong>{{ month }}</strong></td>
                    </tr>
                    {% for trip in trips %}
                        <tr>
                            <td>{{ trip.trip_date_as_str }}</td>
                            <td>{{ trip.name }}</td>
                            <td><a href="{% url 'trip_details' trip.id %}">Details</a></td>
                            <td><a href="{% url 'trip_edit' trip.id %}">Edit</a></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <h2>Previous Trips</h2>
        <table id="previous-trips" class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Trip</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for month, trips in previous_trips.items %}
                    <tr>
                        <td colspan="3"><strong>{{ month }}</strong></td>
                    </tr>
                    {% for trip in trips %}
                        <tr>
                            <td>{{ trip.trip_date_as_str }}</td>
                            <td>{{ trip.name }}</td>
                            <td><a href="{% url 'trip_details' trip.id %}">Details</a></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
