{% extends "base.html" %}

{% load static %}

{% block title %}Trip Agenda{% endblock %}

{% block head_content %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const calendarToggle = document.getElementById('toggle-calendar');
            const listDiv = document.getElementById('list_div');
            const calendarDiv = document.getElementById('calendar_div');

            calendarToggle.addEventListener('change', function () {
                listDiv.style.display = this.checked ? 'none' : 'block';
                calendarDiv.style.display = this.checked ? 'block' : 'none';
            });
        })
    </script>

{% endblock %}

{% block content %}
    <div class="container">
        <div id="list_div">
            <h2>Upcoming Trips</h2>
            <table id="upcoming-table" class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Trip</th>
                        <th>Details</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for month, trips in grouped_trips.items %}
                        <tr>
                            <td colspan="4"><strong>{{ month }}</strong></td>
                        </tr>
                        {% for trip in trips %}
                            <tr>
                                <td>{{ trip.trip_date_as_str_short }}</td>
                                <td>{{ trip.name }}</td>
                                <td><a href="{% url 'trip_details' trip.id %}">Details</a></td>
                                <td><a href="{% url 'trip_edit' trip.id %}">Edit</a></td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
        <div id="calendar_div">
    
        </div>
    </div>
{% endblock %}
