{% extends "base.html" %}

{% load static %}

{% block title %}Trip Agenda{% endblock %}

{% block head_content %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const listDiv = document.getElementById('list_div');
            const calendarDiv = document.getElementById('calendar_div');
            const toggleButton = document.getElementById('calendar-toggle');

            // Set initial view to listView
            listDiv.style.display = 'block';
            calendarDiv.style.display = 'none';
            toggleButton.textContent = 'Switch to calendar view';

            // Initialize calendar view toggle logic
            toggleButton.addEventListener('click', function () {
                if (listDiv.style.display === 'none') {
                    listDiv.style.display = 'block';
                    calendarDiv.style.display = 'none';
                    toggleButton.textContent = 'Switch to calendar view'
                }
                else {
                    listDiv.style.display = 'none';
                    calendarDiv.style.display = 'block';
                    toggleButton.textContent = 'Switch to list view'
                }
            });

            // Initialize FullCalendar object
            var calendar = document.getElementById('calendar');
            const events = JSON.parse('{{ trips_calendar|escapejs }}');
            calendar = new FullCalendar.Calendar(calendar, {
                initialView: 'dayGridMonth',
                events: events,
                eventClick: function(info) {
                    console.log(info.event);
                    window.location.href = '/trips/details/' + info.event._def.publicId;
                }
            });
            calendar.render();
        })
    </script>
    <style>
        h2 {
            display: flex;
            justify-content: space-between;
            margin: 10px;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="container">
        <h2>
            Upcoming Trips
            <button id="calendar-toggle" class="btn btn-outline-secondary"></button>
        </h2>

        <div id="list_div">
            <table id="upcoming-table" class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Trip</th>
                        <th>Details</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for month, trips in trips_list.items %}
                        <tr>
                            <td colspan="4"><strong>{{ month }}</strong></td>
                        </tr>
                        {% for trip in trips %}
                            <tr>
                                <td>{{ trip.trip_date_as_str_short }}</td>
                                <td>{{ trip.name }}</td>
                                <td><a href="{% url 'trip_details' trip.id %}">Details</a></td>
                                <td><a href="{% url 'trip_edit' trip.id %}">Edit</a></td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
        <div id="calendar_div">
            <div id="calendar"></div>
        </div>
    </div>
{% endblock %}
