{% extends "base.html" %}

{% load static %}
{% load role_tags %}

{% block title %}{{ trip.name }}{% endblock %}

{% block head_content %}

{% endblock %}

{% block content %}
    <div class="container">
        <h2>{{ trip.name }}</h2>
        <h5>{{ trip.trip_date_as_str_long }}</h5>

        {% if request.user|is_member %}
            <a href="#signup">Jump to signup form</a>
        {% endif %}

        <p>
            <b>Organized by:</b> 
            {% for organizer in organizers %}
                <a href="{% url 'profile' organizer.user__id %}">{{ organizer.first_name }} {{ organizer.last_name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>

        <p>
            {{ description|safe }}
        </p>

        {% if request.user|is_member %}
            <h5>Sign Up</h5>
            <div id="signup">
                {{ signup_form.as_p }}
            </div>
        {% endif %}
    </div>
    
{% endblock %}
