{% extends "base.html" %}

{% load static %}
{% load role_tags %}

{% block title %}{{ trip.name }}{% endblock %}

{% block head_content %}

{% endblock %}

{% block content %}
    <div class="container">
        <h2>{{ trip.name }}</h2>
        <h5>{{ trip.trip_date_as_str_long }}</h5>

        {% if request.user|is_member %}
            <a href="#signup">Jump to signup form</a>
        {% endif %}

        <p>organizers</p>

        <p>dates</p>

        <p>description</p>

        <div id="signup">
            <p>signup placeholder</p>
        </div>
    </div>
{% endblock %}
