{% extends "base.html" %}

{% load static %}
{% load role_tags %}

{% block title %}{{ trip.name }}{% endblock %}

{% block head_content %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Setup car checkbox
            const carCheckbox = document.querySelector('#id_can_drive');
            const carSpotsDiv = document.getElementById('car-spots-div');
            carSpotsDiv.style.display = carCheckbox.checked ? 'block' : 'none';
            carCheckbox.addEventListener('change', function () {
                carSpotsDiv.style.display = this.checked ? 'block' : 'none';
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>{{ trip.name }}</h2>
        <h5>{{ trip.trip_date_as_str_long }}</h5>

        {% if request.user|is_member %}
            <a href="#signup-form">Jump to signup form</a>
        {% endif %}

        <p>
            <b>Organized by:</b> 
            {% for organizer in organizers %}
                <a href="{% url 'profile' organizer.user__id %}">{{ organizer.first_name }} {{ organizer.last_name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>

        <p>
            {{ description|safe }}
        </p>

        <!------------------------------- Signups list ------------------------------->
        {% if request.user|is_member and signups.interested or signnups.committed or signups.going %}
            <h5>Signups</h5>
            <div id="signup-list">
                <p>Interested</p>
                <p>Committed</p>
                <p>Going</p>
            </div>
        {% endif %}

        <!------------------------------- Signup form ------------------------------->
        {% if request.user|is_member and trip.valid_signup_types %}
            <h5>Sign Up</h5>
            <div id="signup-form">
                <div class="mb-4">
                    {{ form.type.label_tag }} {{ form.type }}
                </div>

                <div class="mb-4">
                    {{ form.can_drive.label_tag }} {{ form.can_drive }}
                </div>

                <div class="mb-4" id="car-spots-div">
                    {{ form.car_spots.label_tag }} {{ form.car_spots }}
                </div>

                <div class="mb-4">
                    {{ form.signup_answer.label_tag }} <br />
                    {{ form.signup_answer }}
                </div>

                <button type="submit">Submit</button>
            </div>
        {% endif %}
    </div>
    
{% endblock %}
