{% extends "base.html" %}

{% block title %}Profile ({{ profile.first_name }} {{ profile.last_name }}){% endblock %}

{% block content %}
<div class="container">
    <h3>{{ profile.first_name }} {{ profile.last_name }} {% if profile.pronouns %}({{profile.pronouns}}){% endif %}</h3>
    <p><b>Email:</b> <a href="mailto:{{user.email}}">{{ user.email }}</a></p>
    <p><b>Phone:</b> {{ profile.phone }}</p>
    {% if profile.emergency_info %}
        <p><b>Emergency Info:</b> {{ profile.emergency_info }}</p>
    {% endif %}
    {% if profile.inreach_address %}
        <p><b>inReach Info:</b> {{ profile.inreach_address }}</p>
    {% endif %}
    {% if profile.bio %}
        <p><b>Bio:</b> {{ profile.bio }}</p>
    {% endif %}

    <hr>

    <h4 class="mb-3">Trip History</h4>
    <h5 class="mb-3">Organized Trips</h5>
    {% if trips.organized %}
        <table class="table mb-3">
            <thead>
                <th>Date</th>
                <th>Trip</th>
                <th>Details</th>
                <th>Tags</th>
            </thead>
            <tbody>
                {% for month, trips in trips.organized.items %}
                    <tr>
                        <td colspan="4"><strong>{{ month }}</strong></td>
                    </tr>
                    {% for trip in trips %}
                        <tr>
                            <td>{{ trip.trip_date_as_str_short }}</td>
                            <td>{{ trip.name }}</td>
                            <td><a href="{% url 'trip_details' trip.id %}">Details</a></td>
                            <td>
                                {% for tag in trip.tags.all %}
                                    <!-- VS Code may detect errors here... ignore them THIS SYNTAX WORKS!!! -->
                                    <span class="badge badge-pill" style="background-color: {{ tag.colour }}; color: white;">
                                        {{ tag.name }}
                                    </span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>This member has not organized any trips yet.</p>
    {% endif %}
    <h5 class="mb-3">Attended Trips</h5>
    {% if trips.attended %}
        <table class="table mb-3">
            <thead>
                <th>Date</th>
                <th>Trip</th>
                <th>Details</th>
                <th>Tags</th>
            </thead>
            <tbody>
                {% for month, trips in trips.attended.items %}
                    <tr>
                        <td colspan="4"><strong>{{ month }}</strong></td>
                    </tr>
                    {% for trip in trips %}
                        <tr>
                            <td>{{ trip.trip_date_as_str_short }}</td>
                            <td>{{ trip.name }}</td>
                            <td><a href="{% url 'trip_details' trip.id %}">Details</a></td>
                            <td>
                                {% for tag in trip.tags.all %}
                                    <!-- VS Code may detect errors here... ignore them THIS SYNTAX WORKS!!! -->
                                    <span class="badge badge-pill" style="background-color: {{ tag.colour }}; color: white;">
                                        {{ tag.name }}
                                    </span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>This member has not gone on any trips yet.</p>
    {% endif %}

    <hr>
</div>
{% endblock %}